.navbar {
	border-radius: 10px;
	border: 1px solid black;
	background-color: rgba(0, 0, 0, 0.507);
	padding: 0.5rem;
	margin-bottom: 6rem;
	width: fit-content;
}

.center {
	justify-content: center;
	display: flex;
}

.navbar ul {
	list-style-type: none;
	display: flex;
	margin: 0;	
	padding: 0;
}

.navbar > ul > li:first-child { 
	margin-left: 0;
}

.navbar ul li { 
	margin-left: 2rem;
	padding: 0.3rem;
}
.navbar ul li:hover {
	cursor: pointer;
	transform: scale(1.4);
	transition-duration: 1s;
}

img {
	width: 30px;
	height: 30px;
}