.App {
	background-image: linear-gradient(79deg, #272727, #3f464c 40%, #304276);
}

.auth-form-container, .login-form, .register-form {
	display: flex;
	flex-direction: column;
}


.login-form > label {
	text-align: left;
	padding: 0.25rem 0;
}

.login-form > input {
	margin: 0.5rem 0;
}

.login-form > button {
	border: none;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
}

.link-btn {
	background: none;
	text-decoration: underline;
}

.register-form > p {
	color: red;
	font-size: 0.7rem;
	margin: 1px 0;
}

.message-success {
	margin: 5px 0;
	font-style: italic;
	background-color: #2b2e31;
}