/* Menu bar */
.functions {
  width: 100%;
  display: block;
  margin-bottom: 0.2rem;
}
.functions div {
  display: flex;
  margin-bottom: 0.4rem;
}

h1 {
  top: 0;
  color: whitesmoke;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.search {
  margin-left: 250px;
  max-width: 400px;
  z-index: 3;
}
.search input {
  padding: 0.2rem;
  font-size: 1.1rem;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}
.search img {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
}
.search-list {
  text-shadow: 1px 1px black;
  color: white;
  background: rgba(0, 0, 0, 0.834);
  z-index: 5;
}
.search-options:hover {
  background: rgb(108, 138, 157);
}

.locate {
  font-size: 0.7rem;
  margin-left: 50px;
  background: #f6f6f601;
  border: none;
  z-index: 10;
}
.locate img {
  margin: auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Map & Page */
.Main {
  display: flex;
}
.google-map {
  width: 45rem;
  height: 25rem;
  margin: 2rem;
  margin-top: 0;
}

/* users list */
.users-list {
  background-color: rgba(0, 0, 0, 0.545);
  font-size: 1rem;
  max-height: 25rem;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  max-width: 18rem;
}

.btn-mymarker {
	position: sticky;
	top: 0.2rem;
	z-index: 5;
	padding-bottom: 0.2rem;
}
.btn-mymarker button {
  margin: auto;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
}

.users-list > div {
  font-size: 0.7rem;
  margin: auto;
}
.users-list div > ul {
  padding: 15px;
}

.user-box {
  color: whitesmoke;
  border: 2px solid #000;
  background-color: rgb(98, 98, 98);
  margin: 0.7rem;
  border: 1px solid black;
  border-radius: 10px;
}
.user-box:hover {
  transform: scale(1.01);
  animation-duration: 4s;
  min-width: 100%;
  width: fit-content;
}
.user-box > ul {
  list-style-type: none;
}
.user-box li {
  border-bottom: 1px solid #000;
}
.listed-marker span {
  display: block;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
.listed-marker:hover {
  transform: scale(1.05);
  animation-duration: 5s;
  font-style: italic;
  width: fit-content;
}

/* marker settings */
.set-marker {
  justify-content: center;
  font-size: 0.9rem;
  border: 2px solid #000;
  height: fit-content;
}

#markerform > span,
button {
  display: block;
}

#markerform > button {
  margin: auto;
  margin-top: 10px;
}
